/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* Configuration file for starting non-secure Hello service.
    Note that this service is a pure JERI dynamic proxy export, so strictly
    speaking, it doesn't need a codebase server, but in order to be seen in 
    the browser, the api has to be available to download.
 */

import java.io.File;

import com.sun.jini.config.ConfigUtil;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

com.sun.jini.start {

    private static policy = "server.policy";
    private static classpath = "lib${/}hello-api.jar" + File.pathSeparator
        + "lib${/}hello-service.jar";
    private static config = "hello-service.config";
    port="8090";
    private static codebasePrefix= "http://" + ConfigUtil.getHostAddress() 
        + ":" + port + "/";
    private static codebase = codebasePrefix + "hello-api.jar";

    static serviceDescriptors = new ServiceDescriptor[] {
	new NonActivatableServiceDescriptor(
            "",
            policy,
            "lib/tools.jar",
            "com.sun.jini.tool.ClassServer",
            new String[]{"-port", port, "-dir",
                "lib-dl"}),
	new NonActivatableServiceDescriptor(
	    codebase, policy, classpath,
	    "org.apache.river.examples.hello.service.GreeterService",
	    new String[] { config })
    };

}//com.sun.jini.start
